

    .container {
        width: 90vw;
        margin: 2rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


.card {
    height: 40rem;
    width: 25%;
    background-color: rgb(24, 121, 116);
    border: 2px rgb(40, 197, 189);
    border-radius: 3px;
    box-shadow: 10px 10px 30px black;
    display: flex;
    margin: 3rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url();
    transition: all 0.5s;
   overflow: hidden;
}

.card-img {
    width: 82%;
    height: 82%;
    object-fit: cover;
    flex-grow: 1;
    }

    .card-header {
    margin-top: 1.2rem;
    }

    .card-price {
        margin-bottom: 1.2rem;
    }

    .button-container {
        text-align: center; /* Centers the buttons horizontally within the container */
        margin-top: 20px; /* Add some spacing from the top */
      }
      
      /* Style for the individual buttons */
      button {
        font-size: 15px; /* Increase font size to make the button larger */
        padding: 13px 25px; /* Increase padding for a larger button */
        background-color: #001aff; 
        color: rgb(0, 255, 242); /* Set text color to white */
        border: none; /* Remove the default border */
        border-radius: 8px; /* Make the corners of the button rounded */
        cursor: pointer; /* Show a pointer cursor when hovering */
        transition: background-color 0.3s ease; /* Smooth transition for background color change */
        margin: 10px; /* Add space between buttons */
      }

      button:hover {
        background-color: #0015cf; 
      }
      
      /* If the button is active (clicked), change its background color */
      button:active {
        background-color: #000158; 
      }