html, 
body, 
*{
  margin: auto; 
  padding: 0;
  box-sizing: border-box;
  font-size:10px;
}


:root {  
  --dark: #020d18;
  --light: #21a6ff; 
  --dark-color: #00ffd5;
  --light-color: #061f36;
  --lightcard: rgb(67, 255, 246);
}


body {
  background-color: var(--dark);
  color: var(--dark-color);
}

body.light {
  background-color: var(--light);
  color: var(--light-color);
}

body.light .card {
  background-color: var(--lightcard);
}