html, 
body, 
*{
  margin: auto; 
  padding: 0;
  box-sizing: border-box;
  font-size:10px;
}


:root {  
  --dark: #000100;
  --white: #ffffff; 
}

h1 {
  font-size: var(--h1);
}


body{
  background-color: var(--dark);
  color: var(--font-color);
}

.warm {
  --primary: red;
}
.cool {
  --primary: var(--dark-blue);
}